.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  background-color: wheat;
}

#root {
  background-color: wheat;
  height: 100vh;
}

.body {
  background-color: wheat;
}

#navbar{
  height:10vh;
  width:100%;
  background-color: rgb(40, 0, 77);
  margin-bottom: 2vh;
  display: flex;
  align-items: center;
  border-bottom: 1vh;
  border-color: rgb(59, 59, 59);
  border-bottom-style: solid;
  box-shadow: 2px 4px black;
  font-weight: bold;
  
}

#title{
  margin:0;
  margin-left:1vw;
  color: antiquewhite;
  font-size: 44px;
  font-family: Georgia, 'Times New Roman', Times, serif
}


.maincontainer {
  width : 50vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: wheat;
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.start {
  width: 60vw;
}

.register{
  display: flex;
  flex-direction: column;
  justify-content:flex-end;
  align-items: center;
  border-style: groove;
  border-width: 0.4vw;
  padding: 1vw;
  padding-top: 0vw;
}

.login{
  display: flex;
  flex-direction: column;
  justify-content:flex-end;
  align-items: center;
  border-style: groove;
  border-width: 0.4vw;
  padding: 1vw;
  padding-top: 0vw;
}

.loggedIn {
  display: flex;
  flex-direction: row;
  width: 100vw;
}

#welcome {
  text-align: right;
}
